In [4]:
pip install --upgrade pip

Requirement already up-to-date: pip in /Users/veohntiafokpa/opt/anaconda3/lib/python3.7/site-packages (20.1.1)
Note: you may need to restart the kernel to use updated packages.

In [68]:
from sklearn import tree
import pandas as pd
import os
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from datetime import datetime
import time
import xgboost as xgb
from xgboost import plot_importance
from sklearn.metrics import explained_variance_score, mean_squared_error, r2_score

## Data Manipulation

In [28]:
df = pd.read_csv(os.path.join("listings_clean.csv"))
df.head()

,Unnamed: 0,Unnamed: 0.1,id,name,summary,description,host_id,host_since,host_location,host_is_superhost,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_365,number_of_reviews
0,0,0,2060,Modern NYC,NaN,"Lovely, spacious, sunny 1 BR apartment in 6th ...",2259,2008-08-18,US,f,...,"{Internet,Wifi}",100.0,NaN,NaN,1,0.0,1,730,365,1
1,1,2,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",4869,2008-12-07,"New York, New York, United States",f,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",89.0,$500.00,NaN,1,0.0,1,730,276,322
2,2,5,5136,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,We welcome you to stay in our lovely 2 br dupl...,7378,2009-02-03,"New York, New York, United States",f,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",253.0,NaN,NaN,4,25.0,14,1125,358,1
3,3,6,5178,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,Please don’t expect the luxury here just a bas...,8967,2009-03-03,"New York, New York, United States",f,...,"{TV,Wifi,""Air conditioning"",""Paid parking off ...",79.0,NaN,$15.00,1,12.0,2,14,294,473
4,4,7,5203,Cozy Clean Guest Room - Family Apt,"Our best guests are seeking a safe, clean, spa...","Our best guests are seeking a safe, clean, spa...",7490,2009-02-05,"New York, New York, United States",f,...,"{Internet,Wifi,""Air conditioning"",""Paid parkin...",79.0,NaN,NaN,1,0.0,2,14,0,118

In [29]:
# Creating a dataframe with just our potential features to analyze their level of importance

features_df = df.loc[:,["id","accommodates","bathrooms","bedrooms","beds","bed_type","neighbourhood_group_cleansed","room_type", "zipcode","price","property_type"]]
features_df.head()

,id,accommodates,bathrooms,bedrooms,beds,bed_type,neighbourhood_group_cleansed,room_type,zipcode,price,property_type
0,2060,2,1.0,1.0,2.0,Real Bed,Manhattan,Private room,10040,100.0,Other
1,3831,3,1.0,1.0,3.0,Real Bed,Brooklyn,Entire home/apt,11238,89.0,Guest suite
2,5136,4,1.5,2.0,2.0,Real Bed,Brooklyn,Entire home/apt,11232,253.0,Apartment
3,5178,2,1.0,1.0,1.0,Real Bed,Manhattan,Private room,10019,79.0,Apartment
4,5203,1,1.0,1.0,1.0,Real Bed,Manhattan,Private room,10025,79.0,Apartment

In [30]:
# Turning my categorical values (Bed Type) into dummy variables with binary values for each possible value

bed_type_dummy = pd.get_dummies(features_df['bed_type'])
print(bed_type_dummy)

       Airbed  Couch  Futon  Pull-out Sofa  Real Bed
0           0      0      0              0         1
1           0      0      0              0         1
2           0      0      0              0         1
3           0      0      0              0         1
4           0      0      0              0         1
...       ...    ...    ...            ...       ...
46917       0      0      0              0         1
46918       0      0      0              0         1
46919       0      0      0              0         1
46920       0      0      0              0         1
46921       0      0      0              0         1

[46922 rows x 5 columns]

In [31]:
# Turning my categorical values (Neighborhood) into dummy variables with binary values for each possible value. 
# I'm doing Borough and not neighborhood in order to not over-fit the data

borough_dummy = pd.get_dummies(features_df['neighbourhood_group_cleansed'])
print(borough_dummy)

       Bronx  Brooklyn  Manhattan  Queens  Staten Island
0          0         0          1       0              0
1          0         1          0       0              0
2          0         1          0       0              0
3          0         0          1       0              0
4          0         0          1       0              0
...      ...       ...        ...     ...            ...
46917      0         0          1       0              0
46918      0         1          0       0              0
46919      0         0          1       0              0
46920      0         0          1       0              0
46921      0         0          1       0              0

[46922 rows x 5 columns]

In [32]:
# Turning my categorical values (Room Type) into dummy variables with binary values for each possible value

room_type_dummy = pd.get_dummies(features_df['room_type'])
print(room_type_dummy)

       Entire home/apt  Hotel room  Private room  Shared room
0                    0           0             1            0
1                    1           0             0            0
2                    1           0             0            0
3                    0           0             1            0
4                    0           0             1            0
...                ...         ...           ...          ...
46917                1           0             0            0
46918                1           0             0            0
46919                0           0             1            0
46920                0           0             1            0
46921                1           0             0            0

[46922 rows x 4 columns]

In [33]:
# Turning my categorical values (Property Type) into dummy variables with binary values for each possible value

property_type_dummy = pd.get_dummies(features_df['property_type'])
print(property_type_dummy)

       Aparthotel  Apartment  Barn  Bed and breakfast  Boat  Boutique hotel  \
0               0          0     0                  0     0               0
1               0          0     0                  0     0               0
2               0          1     0                  0     0               0
3               0          1     0                  0     0               0
4               0          1     0                  0     0               0
...           ...        ...   ...                ...   ...             ...
46917           0          1     0                  0     0               0
46918           0          1     0                  0     0               0
46919           0          1     0                  0     0               0
46920           0          1     0                  0     0               0
46921           0          1     0                  0     0               0

       Bungalow  Bus  Cabin  Camper/RV  ...  Other  Resort  \
0             0    0      0          0  ...      1       0
1             0    0      0          0  ...      0       0
2             0    0      0          0  ...      0       0
3             0    0      0          0  ...      0       0
4             0    0      0          0  ...      0       0
...         ...  ...    ...        ...  ...    ...     ...
46917         0    0      0          0  ...      0       0
46918         0    0      0          0  ...      0       0
46919         0    0      0          0  ...      0       0
46920         0    0      0          0  ...      0       0
46921         0    0      0          0  ...      0       0

       Serviced apartment  Tent  Timeshare  Tiny house  Townhouse  Train  \
0                       0     0          0           0          0      0
1                       0     0          0           0          0      0
2                       0     0          0           0          0      0
3                       0     0          0           0          0      0
4                       0     0          0           0          0      0
...                   ...   ...        ...         ...        ...    ...
46917                   0     0          0           0          0      0
46918                   0     0          0           0          0      0
46919                   0     0          0           0          0      0
46920                   0     0          0           0          0      0
46921                   0     0          0           0          0      0

       Villa  Yurt
0          0     0
1          0     0
2          0     0
3          0     0
4          0     0
...      ...   ...
46917      0     0
46918      0     0
46919      0     0
46920      0     0
46921      0     0

[46922 rows x 38 columns]

In [34]:
# Turning my categorical values (Zipcode Type) into dummy variables with binary values for each possible value

zipcode_dummy = pd.get_dummies(features_df['zipcode'])
print(zipcode_dummy)

        10036   11374  07302  10001  10002  10003  10004  10005  10006  10007  \
0           0       0      0      0      0      0      0      0      0      0
1           0       0      0      0      0      0      0      0      0      0
2           0       0      0      0      0      0      0      0      0      0
3           0       0      0      0      0      0      0      0      0      0
4           0       0      0      0      0      0      0      0      0      0
...       ...     ...    ...    ...    ...    ...    ...    ...    ...    ...
46917       0       0      0      0      0      1      0      0      0      0
46918       0       0      0      0      0      0      0      0      0      0
46919       0       0      0      0      0      0      0      0      0      0
46920       0       0      0      0      0      0      0      0      0      0
46921       0       0      0      1      0      0      0      0      0      0

       ...  NY 10024  NY 10028  NY 10036  NY 10038  NY 10065  NY 10075  \
0      ...         0         0         0         0         0         0
1      ...         0         0         0         0         0         0
2      ...         0         0         0         0         0         0
3      ...         0         0         0         0         0         0
4      ...         0         0         0         0         0         0
...    ...       ...       ...       ...       ...       ...       ...
46917  ...         0         0         0         0         0         0
46918  ...         0         0         0         0         0         0
46919  ...         0         0         0         0         0         0
46920  ...         0         0         0         0         0         0
46921  ...         0         0         0         0         0         0

       NY 10128  NY 10280  NY 11201  NY 11249
0             0         0         0         0
1             0         0         0         0
2             0         0         0         0
3             0         0         0         0
4             0         0         0         0
...         ...       ...       ...       ...
46917         0         0         0         0
46918         0         0         0         0
46919         0         0         0         0
46920         0         0         0         0
46921         0         0         0         0

[46922 rows x 223 columns]

In [35]:
try1 = pd.concat([features_df, bed_type_dummy], axis =1)
try2 = pd.concat([try1, borough_dummy], axis =1)
try3 = pd.concat([try2, property_type_dummy], axis=1)
try4 = pd.concat([try3, zipcode_dummy], axis=1)
features_df_updated = pd.concat([try4, room_type_dummy], axis =1)
features_df_updated.head()

,id,accommodates,bathrooms,bedrooms,beds,bed_type,neighbourhood_group_cleansed,room_type,zipcode,price,...,NY 10065,NY 10075,NY 10128,NY 10280,NY 11201,NY 11249,Entire home/apt,Hotel room,Private room,Shared room
0,2060,2,1.0,1.0,2.0,Real Bed,Manhattan,Private room,10040,100.0,...,0,0,0,0,0,0,0,0,1,0
1,3831,3,1.0,1.0,3.0,Real Bed,Brooklyn,Entire home/apt,11238,89.0,...,0,0,0,0,0,0,1,0,0,0
2,5136,4,1.5,2.0,2.0,Real Bed,Brooklyn,Entire home/apt,11232,253.0,...,0,0,0,0,0,0,1,0,0,0
3,5178,2,1.0,1.0,1.0,Real Bed,Manhattan,Private room,10019,79.0,...,0,0,0,0,0,0,0,0,1,0
4,5203,1,1.0,1.0,1.0,Real Bed,Manhattan,Private room,10025,79.0,...,0,0,0,0,0,0,0,0,1,0

In [37]:
# turn price into float 
target = features_df_updated["price"]
target_names = ["negative", "positive"]

In [38]:
data= features_df_updated.drop(["price","id","bed_type","neighbourhood_group_cleansed","room_type","zipcode","property_type"],axis=1)
feature_names = data.columns
data.head()
data.dtypes

accommodates         int64
bathrooms          float64
bedrooms           float64
beds               float64
Airbed               uint8
                    ...
NY 11249             uint8
Entire home/apt      uint8
Hotel room           uint8
Private room         uint8
Shared room          uint8
Length: 279, dtype: object

In [39]:
data = data.astype(float)
data.dtypes

accommodates       float64
bathrooms          float64
bedrooms           float64
beds               float64
Airbed             float64
                    ...
NY 11249           float64
Entire home/apt    float64
Hotel room         float64
Private room       float64
Shared room        float64
Length: 279, dtype: object

# Using the Trees Methodology

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [41]:
from sklearn.model_selection import GridSearchCV
import numpy as np
param_grid = {'max_depth': np.arange(1,10),
              'min_samples_split': [2, 3,4,5],
              'min_samples_leaf': [2, 3,4,5]
             }

In [42]:
clf = tree.DecisionTreeClassifier()
grid = GridSearchCV(clf, param_grid)
grid.fit(X_train, y_train)

/Users/veohntiafokpa/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/Users/veohntiafokpa/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': array([1, 2, 3, 4, 5, 6, 7, 8, 9]),
                         'min_samples_leaf': [2, 3, 4, 5],
                         'min_samples_split': [2, 3, 4, 5]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [43]:
print(grid.best_params_)

{'max_depth': 9, 'min_samples_leaf': 3, 'min_samples_split': 2}

In [44]:
print(grid.best_score_)

0.08547640021596431

In [45]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.08498849202966499

In [46]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.17642262347915721, 'accommodates'),
 (0.14848704073776592, 'beds'),
 (0.0842077463303333, 'bathrooms'),
 (0.08304142353981675, 'bedrooms'),
 (0.01986659277839092, 'Apartment'),
 (0.011854206570298202, 'Private room'),
 (0.011762637796099167, 'Entire home/apt'),
 (0.011238081411240658, 'House'),
 (0.010813810428607122, 'Condominium'),
 (0.009118068304109122, 'Townhouse'),
 (0.00815911181716236, 'Loft'),
 (0.007345362126922776, 'Real Bed'),
 (0.006051855548766031, '11216'),
 (0.005720187646682745, '11221'),
 (0.005553380423754211, '11206'),
 (0.005511858477911441, '10019'),
 (0.005087449756893998, '11211'),
 (0.005011671507504626, 'Guest suite'),
 (0.0049743411950520415, '11238'),
 (0.004868242196194728, '11215'),
 (0.00484135261569292, '11233'),
 (0.004743419737666892, '10002'),
 (0.004742832795273794, '11205'),
 (0.004649313482913421, '11222'),
 (0.004633440651353408, '10027'),
 (0.004611402402874899, 'Manhattan'),
 (0.004585110911313129, '10025'),
 (0.0045011301558594745, '10003'),
 (0.004489716198517527, '10013'),
 (0.004345912596521815, '11213'),
 (0.004292094698279797, '10016'),
 (0.0041517062343849635, '10009'),
 (0.004151310073528063, '11226'),
 (0.004081920775042919, 'Futon'),
 (0.003986281519455998, '10036'),
 (0.00396545263949151, '10001'),
 (0.003965340289185464, '11217'),
 (0.003933114072971971, 'Brooklyn'),
 (0.003921541435684365, '11207'),
 (0.003888074189211937, '11237'),
 (0.0038422622402636652, '10018'),
 (0.003810342236838394, '10024'),
 (0.0037299338457847313, 'Queens'),
 (0.0037269375626924907, 'Shared room'),
 (0.003697951112073855, '10022'),
 (0.0036842268103669806, '11249'),
 (0.0036716464534107, '10029'),
 (0.0036366253586322212, '10011'),
 (0.0036363442287716467, '11225'),
 (0.0036229202677052767, '10031'),
 (0.00362284083831495, '10023'),
 (0.0035479646503141743, '10026'),
 (0.003497048110453009, 'Serviced apartment'),
 (0.0034919868261029585, '11218'),
 (0.0034036915871798364, 'Pull-out Sofa'),
 (0.0033928006069662993, '10012'),
 (0.003340631813975859, '10028'),
 (0.0033219826039526767, '10035'),
 (0.0032884539847947976, '10014'),
 (0.0032341992972907086, '10128'),
 (0.0031992864077567385, '11201'),
 (0.0031673687028329458, '10017'),
 (0.003141461475813074, '10010'),
 (0.003105231266237151, '11377'),
 (0.003060104466873121, '11231'),
 (0.0030567682350750138, '11106'),
 (0.003044641999308867, '11101'),
 (0.002977915405599188, '10030'),
 (0.0029504196175375607, '11203'),
 (0.0028826652434662623, '11385'),
 (0.002801103722425611, '10005'),
 (0.0027996433235283895, '11103'),
 (0.002795287711720652, '11373'),
 (0.002739082278934342, '11208'),
 (0.00273060095071511, '10032'),
 (0.002712288770313326, '10065'),
 (0.0026918907917100787, '10021'),
 (0.0026674363440919225, '11236'),
 (0.0026200428243946723, '10038'),
 (0.002618848487793443, 'Airbed'),
 (0.002567149835762367, 'Boutique hotel'),
 (0.002563041302862207, '11209'),
 (0.002512835011944993, '11220'),
 (0.0024636050808465515, '11355'),
 (0.0024469914388686328, 'Bronx'),
 (0.0024463129696109956, '10033'),
 (0.002398621127843333, '11105'),
 (0.0023904290821633637, '11102'),
 (0.002384318298284362, '11210'),
 (0.002343391145341937, '11104'),
 (0.002330011164074895, '11235'),
 (0.002271273339731334, '11232'),
 (0.002192326525995745, '11230'),
 (0.002156391564521605, '10037'),
 (0.0021486023233916567, 'Hotel'),
 (0.002147243620767383, '11434'),
 (0.0020802722062562462, '11375'),
 (0.0020748013676220064, '11369'),
 (0.002058388104754913, '11372'),
 (0.0020444102753611818, 'Other'),
 (0.00204377550656798, '11229'),
 (0.0020217580796414378, '10034'),
 (0.001965866127878316, '10039'),
 (0.001892041363532968, '10040'),
 (0.001850625957119921, '10075'),
 (0.0018501616116199638, '11212'),
 (0.0018303129954983025, '11234'),
 (0.001724705279914244, '11374'),
 (0.0016645629202330934, '11435'),
 (0.001657707968426589, 'Staten Island'),
 (0.001639917407120242, 'Hotel room'),
 (0.0015352551620407661, '11422'),
 (0.0015319308965517516, '11368'),
 (0.0015127384941715052, '11214'),
 (0.0014931524937040247, '11421'),
 (0.0014815179819542914, '10004'),
 (0.0014753634918412833, '10463'),
 (0.001461590723662047, '11354'),
 (0.0014517643472260772, '11692'),
 (0.0014193126631212149, 'Guesthouse'),
 (0.001392101853311913, '10469'),
 (0.0013829157109825738, '11358'),
 (0.0013480267725189518, '11378'),
 (0.001316640255411654, '11413'),
 (0.001312155732126805, '10301'),
 (0.001287478582054129, '10044'),
 (0.0012797022589726196, '11370'),
 (0.0012751959953326778, '11418'),
 (0.0012748504551003078, '11223'),
 (0.001265753995572789, '11432'),
 (0.0012577016224792356, '11691'),
 (0.001239542316799413, '11412'),
 (0.0012378059421851643, '11417'),
 (0.0012243643755966112, '10467'),
 (0.0012112581295796356, 'Bed and breakfast'),
 (0.0012104124209821306, '10462'),
 (0.0012079612424773579, '10006'),
 (0.001200939014974103, '11219'),
 (0.0011964107910934576, '10451'),
 (0.0011590198806869121, '11693'),
 (0.0010971519639629125, '11429'),
 (0.0010964214276410996, '10007'),
 (0.001088423845882641, '11433'),
 (0.0010855038172019051, 'Couch'),
 (0.0010712915680328114, '10457'),
 (0.0010519268858271839, '10456'),
 (0.0010354931190202279, '10466'),
 (0.0010312689677526255, '10454'),
 (0.0010126349791181116, '11367'),
 (0.0010031664641898033, '10452'),
 (0.0009881504535655195, '11379'),
 (0.0009617983549451837, '10461'),
 (0.0009497854302911462, '10304'),
 (0.0009441903572924679, '10280'),
 (0.0009404261472483205, '11204'),
 (0.0009099423921389304, '10455'),
 (0.0009074160829467763, '10305'),
 (0.0008729560947879183, '11224'),
 (0.0008567167864688363, 'Resort'),
 (0.0008554018553829927, '11415'),
 (0.0008497963252366539, '11365'),
 (0.0008488866716970475, '10468'),
 (0.000822028343121876, '11436'),
 (0.0008018868621366856, '11419'),
 (0.0007987154375597036, '11356'),
 (0.0007964607923992124, '10458'),
 (0.000755831022904785, '11228'),
 (0.0007490706474694958, '10459'),
 (0.0007375902484190272, 'Hostel'),
 (0.0007342508694403373, '10460'),
 (0.000732767442699181, '10453'),
 (0.0007305631323912786, '10465'),
 (0.000725663885676056, '11414'),
 (0.000719787660458477, '10472'),
 (0.0007172905967106878, 'Aparthotel'),
 (0.0007167551540628321, '10473'),
 (0.0007164979521675785, '10310'),
 (0.0007159978456136154, '11361'),
 (0.0006982340298458416, '11411'),
 (0.0006766755497845785, '11420'),
 (0.0006675998264292216, '11366'),
 (0.0006592094276633175, '10069'),
 (0.0006010008930042723, '10474'),
 (0.0005886714572739438, '10306'),
 (0.0005405342806254792, 'Bungalow'),
 (0.000508636872092829, '11364'),
 (0.0004961677941741789, '11423'),
 (0.0004954964141203648, '11427'),
 (0.00047270250580937515, 'Tiny house'),
 (0.00046572267277392236, '11357'),
 (0.0004200854240976827, '10282'),
 (0.00041927129750378905, 'NY 10036'),
 (0.0004176567482828401, 'NY 10007'),
 (0.0004175705893289843, '10314'),
 (0.00041606950793995407, '11428'),
 (0.00041550509000282343, '11416'),
 (0.00041041575316912973, '10303'),
 (0.0004025732720292819, '10470'),
 (0.00039887026011646386, '11694'),
 (0.00039442823551969907, '10475'),
 (0.0003812460548881097, '10302'),
 (0.00037685666965815294, '11109'),
 (0.000366103984092734, '11360'),
 (0.00036007890971704454, '10471'),
 (0.0003409123972794794, 'NY 10011'),
 (0.0003382469979937021, '10312'),
 (0.000337992567155884, 'Camper/RV'),
 (0.0003100311243477445, 'NY 10028'),
 (0.00030949362490281085, 'Villa'),
 (0.00028798882978264075, '11362'),
 (0.00027880691739348614, 'NY 10023'),
 (0.0002700394293102478, 'NY 10022'),
 (0.0002654439727844824, 'NY 10005'),
 (0.0002584514006793692, '10464'),
 (0.00025571660716722846, '10308'),
 (0.00024090725056981831, 'NY 10016'),
 (0.00023391472264764246, 'NY 10024'),
 (0.0002118230922385776, '11363'),
 (0.00021029851245976867, 'NY 10014'),
 (0.00019061741680974475, 'NY 10012'),
 (0.00018002853910772801, 'NY 10001'),
 (0.00016256014262668896, 'NY 10075'),
 (0.00016186630870307017, 'NY 10018'),
 (0.00015338258317126302, 'Earth house'),
 (0.00014549261189009702, 'Boat'),
 (0.00014527522145909213, 'NY 10003'),
 (0.00014473566075081688, 'Barn'),
 (0.00014038250770889854, '10129'),
 (0.0001388535974815355, 'NY 10019'),
 (0.00013550692883775955, 'NY 10128'),
 (0.00013486538574155216, 'Cave'),
 (0.00013255648586372415, 'Cottage'),
 (0.00012445488542449932, 'NY 10010'),
 (0.00012365274914026518, 'Tent'),
 (0.00012081059154047417, 'NY 10002'),
 (0.00011826772159587887, 'NY 10065'),
 (0.00011333614244018798, '11426'),
 (0.00010230079311654303, '10162'),
 (0.00010113332779307916, '11580'),
 (9.420111353034314e-05, 'Casa particular (Cuba)'),
 (8.637052541693057e-05, 'Castle'),
 (7.62099734070275e-05, '11001'),
 (7.205628060348896e-05, '10309'),
 (7.148394828139483e-05, 'NY 10004'),
 (7.007349595308058e-05, 'Dome house'),
 (6.881637979671068e-05, 'NY 10038'),
 (6.853708498232092e-05, 'NY 10006'),
 (6.838339591162348e-05, 'NY 10280'),
 (6.767509962277476e-05, 'NY 11201'),
 (6.764547049003397e-05, 'NY 11249'),
 (6.639124232749009e-05, '11243'),
 (6.460231352452225e-05, '1009'),
 (6.280661158875431e-05, '11413-3220'),
 (6.257347409697382e-05, 'Island'),
 (6.22189032826665e-05, '10080'),
 (6.158316242943393e-05, '10270'),
 (5.69519864998639e-05, '07302'),
 (5.615764572867163e-05, '11249\n11249'),
 (5.591578085111769e-05, 'Lighthouse'),
 (5.488859171629797e-05, 'Yurt'),
 (5.451715296796932e-05, 'Timeshare'),
 (5.334900339501789e-05, 'In-law'),
 (5.0175544676275586e-05, '10112'),
 (5.0084075340391684e-05, '11239'),
 (4.3777565472302864e-05, 'Train'),
 (4.2466014780245526e-05, '10803'),
 (3.916326034814992e-05, 'Bus'),
 (3.0963250660477754e-05, 'Houseboat'),
 (2.9650516046633176e-05, '11559'),
 (2.9120068578888454e-05, 'Cabin'),
 (0.0, 'NY 10017'),
 (0.0, 'Farm stay'),
 (0.0, '11103-3233'),
 (0.0, '10307'),
 (0.0, '10281'),
 (0.0, '10174'),
 (0.0, '10118'),
 (0.0, ' 11374'),
 (0.0, ' 10036')]

## Additional Try with Updated Cleaned CSV

In [47]:
cleaned_df = pd.read_csv(os.path.join("listings_clean_ver4.csv"))
cleaned_df.head()

,Unnamed: 0,Unnamed: 0.1,id,name,summary,description,host_id,host_since,host_location,host_is_superhost,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_365,number_of_reviews
0,0,0,2060,Modern NYC,NaN,"Lovely, spacious, sunny 1 BR apartment in 6th ...",2259,2008-08-18,US,f,...,"{Internet,Wifi}",100.0,0,0,1,0.0,1,730,365,1
1,1,2,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",4869,2008-12-07,"New York, New York, United States",f,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",89.0,500,0,1,0.0,1,730,276,322
2,2,5,5136,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,We welcome you to stay in our lovely 2 br dupl...,7378,2009-02-03,"New York, New York, United States",f,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",253.0,0,0,4,25.0,14,1125,358,1
3,3,6,5178,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,Please don’t expect the luxury here just a bas...,8967,2009-03-03,"New York, New York, United States",f,...,"{TV,Wifi,""Air conditioning"",""Paid parking off ...",79.0,0,15,1,12.0,2,14,294,473
4,4,7,5203,Cozy Clean Guest Room - Family Apt,"Our best guests are seeking a safe, clean, spa...","Our best guests are seeking a safe, clean, spa...",7490,2009-02-05,"New York, New York, United States",f,...,"{Internet,Wifi,""Air conditioning"",""Paid parkin...",79.0,0,0,1,0.0,2,14,0,118

In [48]:
new_df = cleaned_df.loc[:,["id","accommodates","bathrooms","bedrooms","beds","bed_type","neighbourhood_group_cleansed","room_type","price","property_type","host_listings_count","cleaning_fee","security_deposit","guests_included","extra_people","minimum_nights", "maximum_nights","availability_365","number_of_reviews"]]
new_df.head()

,id,accommodates,bathrooms,bedrooms,beds,bed_type,neighbourhood_group_cleansed,room_type,price,property_type,host_listings_count,cleaning_fee,security_deposit,guests_included,extra_people,minimum_nights,maximum_nights,availability_365,number_of_reviews
0,2060,2,1.0,1.0,2.0,Real Bed,Manhattan,Private room,100.0,Other,0.0,0,0,1,0.0,1,730,365,1
1,3831,3,1.0,1.0,3.0,Real Bed,Brooklyn,Entire home/apt,89.0,Other,1.0,0,500,1,0.0,1,730,276,322
2,5136,4,1.5,2.0,2.0,Real Bed,Brooklyn,Entire home/apt,253.0,Apartment,1.0,0,0,4,25.0,14,1125,358,1
3,5178,2,1.0,1.0,1.0,Real Bed,Manhattan,Private room,79.0,Apartment,1.0,15,0,1,12.0,2,14,294,473
4,5203,1,1.0,1.0,1.0,Real Bed,Manhattan,Private room,79.0,Apartment,1.0,0,0,1,0.0,2,14,0,118

In [49]:
transformed_df = pd.get_dummies(new_df)
transformed_df.head()

,id,accommodates,bathrooms,bedrooms,beds,price,host_listings_count,cleaning_fee,security_deposit,guests_included,...,neighbourhood_group_cleansed_Manhattan,neighbourhood_group_cleansed_Queens,neighbourhood_group_cleansed_Staten Island,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room,property_type_Apartment,property_type_House,property_type_Other
0,2060,2,1.0,1.0,2.0,100.0,0.0,0,0,1,...,1,0,0,0,0,1,0,0,0,1
1,3831,3,1.0,1.0,3.0,89.0,1.0,0,500,1,...,0,0,0,1,0,0,0,0,0,1
2,5136,4,1.5,2.0,2.0,253.0,1.0,0,0,4,...,0,0,0,1,0,0,0,1,0,0
3,5178,2,1.0,1.0,1.0,79.0,1.0,15,0,1,...,1,0,0,0,0,1,0,1,0,0
4,5203,1,1.0,1.0,1.0,79.0,1.0,0,0,1,...,1,0,0,0,0,1,0,1,0,0

In [51]:
transformed_df = transformed_df.fillna(0)
transformed_df
transformed_df.isnull().sum(axis = 0)

id                                            0
accommodates                                  0
bathrooms                                     0
bedrooms                                      0
beds                                          0
price                                         0
host_listings_count                           0
cleaning_fee                                  0
security_deposit                              0
guests_included                               0
extra_people                                  0
minimum_nights                                0
maximum_nights                                0
availability_365                              0
number_of_reviews                             0
bed_type_Airbed                               0
bed_type_Couch                                0
bed_type_Futon                                0
bed_type_Pull-out Sofa                        0
bed_type_Real Bed                             0
neighbourhood_group_cleansed_Bronx            0
neighbourhood_group_cleansed_Brooklyn         0
neighbourhood_group_cleansed_Manhattan        0
neighbourhood_group_cleansed_Queens           0
neighbourhood_group_cleansed_Staten Island    0
room_type_Entire home/apt                     0
room_type_Hotel room                          0
room_type_Private room                        0
room_type_Shared room                         0
property_type_Apartment                       0
property_type_House                           0
property_type_Other                           0
dtype: int64

In [53]:
transformed_df.drop(['bedrooms','beds'], axis = 1, inplace = True)

In [55]:
for col in num_cols:
    transformed_df[col] = transformed_df[col].astype('float64').replace(0.0, 0.01) # Replacing 0s with 0.01
    transformed_df[col] = np.log(transformed_df[col])

In [57]:
X = transformed_df.drop('price', axis =1)
y = transformed_df.price

# Scaling
scaler = StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=list(X.columns))

In [58]:
# Splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

# Ridge Method

In [59]:
from sklearn import linear_model
reg = linear_model.Ridge(alpha=.7)
reg.fit(X_train, y_train)

Ridge(alpha=0.7, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [60]:
reg.score(X_test, y_test)

0.0653173521370638

In [62]:
print("Model Score:", round(reg.score(X_test, y_test),4))

Model Score: 0.0653

# SVR Method

In [67]:
from sklearn import svm
reg = svm.SVR(kernel='rbf')
reg.fit(X_train, y_train)

/Users/veohntiafokpa/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [64]:
print("Model Score:", round(reg.score(X_test, y_test),4))

Model Score: 0.0267